.buttonleft {
  color: white;
  font-size: 5rem;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 60%;
  z-index: 2;
  cursor: pointer;
  user-select: none;
  background: unset;
  border: unset;
  left: 140px;
  transform: translatey(-50%);
}

.modal {
  margin: 0 auto;
  padding-top: 60px;
  margin-top: 50px;
  width: 62rem;
  height: 500px;
  margin-left: auto;

  border: solid 2px;
  border-color: #555;
  background-color: #fff;
  position: relative;
}

.lab {
  position: absolute;
  left: 350px;
  top: 350px;
}

.filesavebtn {
  margin-top: 120px;
  margin-left: 410px;
  width: 100px;
  background-color: green;
  border-radius: 5px;
}

.modal input {
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 3px;
  width: 100%;
  box-sizing: border-box;
  font-family: montserrat;
  color: #2c3e50;
  font-size: 13px;
}

.modal textarea {
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 3px;
  width: 100%;
  box-sizing: border-box;
  font-family: montserrat;
  color: #2c3e50;
  font-size: 13px;
  height: 200px;
}

@media (max-width: 1095px) {
  .modal {
    width: 70%;
  }

  .lab {
    margin-top: 50px;
    margin-left: -130px;
  }

  .filesavebtn {
    margin-top: 30px;
    margin-left: 280px;
    width: 100px;
    background-color: green;
    border-radius: 5px;
  }

  .buttonleft {
    color: white;
    font-size: 5rem;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 120%;
    z-index: 2;
    cursor: pointer;
    user-select: none;
    background: unset;
    border: unset;
    left: 80px;
    transform: translatey(-50%);
  }
}

.button {
  color: white;
  font-size: 5rem;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 60%;
  z-index: 2;
  cursor: pointer;
  user-select: none;
  background: unset;
  border: unset;
  right: 140px;
  transform: translatey(-50%);
}

@media (max-width: 1095px) {
  .button {
    color: white;
    font-size: 5rem;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 120%;
    z-index: 2;
    cursor: pointer;
    user-select: none;
    background: unset;
    border: unset;
    right: 80px;
    transform: translatey(-50%);
  }
}

.inputform {
  background-color: rgb(60, 60, 60);
  color: white;
  font-size: 12pt;
  padding: 10px 10px;
  text-align: center;
  width: 100%;
}

.adm_btn {
  width: 130px;
  height: 40px;
  color: #fff;
  border-radius: 5px;

  font-family: "Lato", sans-serif;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5),
    7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
  outline: none;
  background: #c797eb;
  border: none;
  z-index: 1;
}

.adm_btn:hover {
  background: transparent;
}

/*추가하기 버튼*/
.adminbody {
  background-color: aquamarine;
}

.admincontainer {
  margin: auto;
  background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
  display: inline-block;
  width: 100%;
  height: 120vh;
  align-items: center;
  justify-content: center;
  transform-style: preserve-3d;
}

.admincon {
  width: 100%;
  margin: auto;
  perspective: 500px;
  transform-style: preserve-3d;
  position: relative;
}

.adminimg {
  width: 500px;
  height: 200px;
  background-size: cover;
  margin: auto;
  background-color: rgb(201, 124, 22);
}

.adminh4 {
  background-color: #ffffff;
  text-align: left;
  padding: 40px;
  height: auto;
  border-radius: 20px;
  display: inline-block;
  font-size: 24pt;
}
/* 질문 입력칸 */

.admindiv {
  background-color: white;
  height: auto;
  width: 52rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  border-radius: 20px;
  transform-style: preserve-3d;
  position: relative;
}

@media (max-width: 768px) {
  .admindiv {
    width: 80%;
    margin-left: 10%;
  }
}
/* 각 질문의 container */

.adminp {
  background-color: #dcdcdc;
  height: auto;
  width: 90%;
  margin: 0 30px 20px;
  border-style: dashed;
  border-width: 2px;
  border-radius: 10px;
  display: inline-block;
  padding: 5px 10px;
  font-size: 13pt;
  line-height: 1.6em;
}
/* 내용 입력칸 */

.adminan {
  background-color: black;
  height: 40px;
  width: 70px;
  position: static;
  border-radius: 10px;
  padding: 7px 10px;
  margin-top: 30px;
  margin-left: 45%;
  color: white;
}
/* '정답: ' 칸 */

.adminli {
  background-color: #ffffff;
  height: auto;
  width: 90%;
  margin: 10px 20px;
  list-style-position: inside;
  text-align: center;
  border: solid 4px lightblue;
  border-radius: 10px;
  padding: 7px;
  font-size: 13pt;
}
/* 4지선다 입력칸 */

.previousSlide {
  position: absolute;
  width: 52rem;
  height: 100%;
  perspective: 500px; /* perspective 속성 추가 */
  transform-style: preserve-3d;
  transform: rotateY(calc(var(--offset) * 150deg))
    scaleY(calc(1 + var(--abs-offset) * -0.4))
    translateZ(calc(var(--abs-offset) * -30rem))
    translateX(calc(var(--direction) * -5rem));
  filter: blur(calc(var(--abs-offset) * 1rem));
  transition: all 0.3s ease-out;
}

.nextSlide {
  background-color: white;
  height: auto;
  width: 52rem;
  margin: auto;
  perspective: 500px;
  transform-style: preserve-3d;
  position: absolute;

  transform: rotateY(calc(var(--offset) * 50deg))
    scaleY(calc(1 + var(--abs-offset) * -0.4))
    translateZ(calc(var(--abs-offset) * -30rem))
    translateX(calc(var(--direction) * -5rem));
  filter: blur(calc(var(--abs-offset) * 1rem));
  transition: all 0.3s ease-out;
  display: block;
}

/* 입력칸 */

.proform {
  padding: 2.5rem 0.625rem;
  border-radius: 0.25rem;
}

@media (min-width: 480px) {
  .proform {
    padding: 2.5rem;
    background-color: rgba(0, 0, 0, 0.3);
  }
}

.prolabel {
  display: flex;
  align-items: center;
  font-size: 1.125rem;
  margin-bottom: 0.5rem;
  margin-left: 20%;
}

.proform h2 {
  margin-bottom: 70px;
}

.blank {
  display: block;
  width: 60%;
  height: 2.375rem;
  padding: 0.375rem 0.75rem;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  margin: auto;
}

.select {
  position: relative;
  display: block;
  width: 60%;
  margin: 0 auto;
  font-family: "Open Sans", "Helvetica Neue", "Segoe UI", "Calibri", "Arial",
    sans-serif;
  font-size: 18px;
  color: #60666d;
}
@media (max-width: 768px) {
  .select {
    width: 70%;
  }
}

/*사진선택*/
.inputfile {
  display: flex;
  align-items: center;
  font-size: 1.125rem;
  margin-bottom: 0.5rem;

  padding: 14px 45px;
  background: #39d2b4;
  color: #fff;
  font-size: 1em;
  transition: all 0.4s;
  cursor: pointer;
}

.filedisplay {
  display: none;
}

.adminbtndelete {
  width: 150px;
  background-color: red;
  color: #fff;
  margin-left: 260px;
}

.adminbtnedit {
  width: 150px;
  background-color: rgb(31, 63, 227);
  color: #fff;
}

@media (max-width: 768px) {
  .adminbtndelete {
    width: 150px;
    background-color: red;
    color: #fff;
    margin-left: 50px;
  }

  .adminbtnedit {
    width: 150px;
    background-color: rgb(31, 63, 227);
    color: #fff;
  }
}
