.bh1 {
  background-color: white;
  color: black;
  font-size: 30pt;
  padding: 10px 0 0 6em;
  margin-top: 30px;
}
/*title*/

.bh2 {
  background-color: white;
  color: gray;
  font-size: 12pt;
  height: auto;
  padding-top: 10px;
  padding-left: 20px;
}
/*제목 옆 부제목*/

.bar {
  position: relative;
  width: 1200px;
  height: 3px;
  margin-top: 10px;
  margin-left: 11%;
  background: linear-gradient(120deg, purple, skyblue);
  margin-bottom: 20px;
}
/*title 아래의 바*/

.exbar {
  width: 64%;
  height: auto;
  text-align: left;
  margin-left: 20%;
  padding-top: 10px;
  padding-left: 10px;
  font-size: 9pt;
  font-weight: bold;
  text-align: center;
  border-bottom: lightgray 1px solid;
  margin-top: 50px;
}
/*게시글 설명 바*/

.exview {
  font-size: 9pt;
  font-weight: bold;
  text-align: right;
  position: absolute;
  right: 19%;
}
/*게시글 설명 바 조회수*/

.exlike {
  color: purple;
  font-size: 9pt;
  font-weight: bold;
  position: absolute;
  right: 16.4%;
}
/*게시글 설명 바 좋아요수*/

.linkbtn {
  background-color: #333333;
  color: white;
  font-size: 12pt;
  border-radius: 30px;
  border: 1px solid gray;
  width: 150px;
  height: 30px;
  font-weight: bold;
  position: fixed;
  bottom: 5%;
  right: 5%;
  text-align: center;
  text-decoration: none;
  padding-top: 2px;
}
/*게시물 추가 버튼*/

.linkbtn:hover {
  background-color: black;
  opacity: 1;
  visibility: visible;
  transition: all 0.3s ease;
}
/*게시물 추가 버튼 hover기능*/

.postbtndiv {
  height: 30px;
  width: 967px;
  margin: 0;
  margin-bottom: 0;
}

.postbtn {
  border-bottom: lightgray 1px solid;
  color: black;
  background-color: white;
  width: 967px;
  height: 30px;
  font-size: 13pt;
  text-align: left;
  margin-left: 32.5%;
  padding-left: 20px;
  display: inline-block;
}
/*게시글*/

.postbtn:hover {
  background-color: lightgray;
  opacity: 1;
  visibility: visible;
  transition: all 0.3s ease;
}

.views {
  font-size: 8pt;
  right: 19%;
  position: absolute;
}
/*게시글 조회수*/

.likes {
  color: purple;
  font-size: 8px;
  right: 17.5%;
  position: absolute;
}
/*게시글 좋아요수*/

.pgbody {
  position: absolute;
  left: 45%;
  box-sizing: content-box;
  margin-top: 20px;
  width: 60%;
}
/*페이지 이동 관리 div*/

.pgback {
  left: 20%;
  width: auto;
  box-sizing: content-box;
  background-color: #fff;
  color: black;
  border: gray 1px solid;
  border-radius: 3px;
  font-size: 8pt;
}
/*이전페이지 버튼*/
.pgback:hover {
  box-sizing: content-box;
  height: auto;
  background-color: gray;
  opacity: 1;
  visibility: visible;
  transition: all 0.3s ease;
}

.pgselect {
  background-color: white;
  color: black;
  box-sizing: content-box;
  width: auto;
  margin-left: 15px;
  margin-right: 15px;
}

.pgselect:hover {
  opacity: 1;
  visibility: visible;
  transition: all 0.3s ease;
  text-decoration: underline;
}

.pgnext {
  right: 20%;
  width: auto;
  box-sizing: content-box;
  background-color: #fff;
  color: black;
  border: gray 1px solid;
  font-size: 8pt;
  border-radius: 3px;
}
/*다음페이지 버튼*/

.pgnext:hover {
  box-sizing: content-box;
  height: auto;
  background-color: gray;
  opacity: 1;
  visibility: visible;
  transition: all 0.3s ease;
}
