.body {
  font-family: "Poppin", sans-serif;
  background-color: #2e3537;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.book {
  width: 300px;
  height: 550px;
  position: relative;
  transition-duration: 1s;
  perspective: 1500;
}

.cover,
.backcover {
  background-color: #4173a5;
  width: 100%;
  height: 100%;
  border-radius: 0 15px 15px 0;
  box-shadow: 0 0 5px rgb(41, 41, 41);
  display: flex;
  align-items: center;
  justify-content: center;
  transform-origin: center left;
}

.cover {
  position: absolute;
  z-index: 5;
  transform-origin: center left;
  transition: transform 1s;
}
.cover label {
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.backcover {
  position: relative;
  z-index: -1;
}

.page {
  position: absolute;

  background-color: white;
  width: 330px;
  height: 430px;
  border-radius: 0 15px 15px 0;
  margin-top: 10px;
  transform-origin: left;
  transform-style: preserve-3d;
  transform: rotateY(0deg);
  transition-duration: 1.5s;
}

.pagea img {
  width: 100%;
  height: 100%;
  border-radius: 0 15px 15px 0;
}

.pagea {
  z-index: 4;
  position: absolute;

  background-color: white;
  width: 470px;
  height: 780px;
  border-radius: 0 15px 15px 0;
  margin-top: 10px;
  transform-origin: left;
  transform-style: preserve-3d;
  transform: rotateY(0deg);
  transition-duration: 1.5s;
}

.pageb {
  position: absolute;

  background-color: white;
  width: 470px;
  height: 780px;
  border-radius: 0 15px 15px 0;
  margin-top: 10px;
  transform-origin: left;
  transform-style: preserve-3d;
  transform: rotateY(0deg);
  transition-duration: 1.5s;
  z-index: 3;
}

.pageb img {
  width: 100%;
  height: 100%;
  border-radius: 0 15px 15px 0;
}

.pagec {
  position: absolute;

  background-color: white;
  width: 470px;
  height: 780px;
  border-radius: 0 15px 15px 0;
  margin-top: 10px;
  transform-origin: left;
  transform-style: preserve-3d;
  transform: rotateY(0deg);
  transition-duration: 1.5s;
  z-index: 2;
}

.pagec img {
  width: 100%;
  height: 100%;
  border-radius: 0 15px 15px 0;
}

.paged {
  position: absolute;

  background-color: white;
  width: 470px;
  height: 780px;
  border-radius: 0 15px 15px 0;
  margin-top: 10px;
  transform-origin: left;
  transform-style: preserve-3d;
  transform: rotateY(0deg);
  transition-duration: 1.5s;
  z-index: 1;
}

.paged img {
  width: 100%;
  height: 100%;
  border-radius: 0 15px 15px 0;
}

.frontpage {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  box-sizing: border-box;
  padding: 1rem;
}

.backpage {
  transform: rotateY(180deg);
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  z-index: 99;
}

.next .prev {
  position: absolute;
  bottom: 1em;
  cursor: pointer;
}

.next {
  right: 1em;
}
.prev {
  left: 10px;
}

.checkboxcover:checked ~ .book {
  transform: translateX(200px);
  width: 600px;
  height: 850px;
}

.checkboxcover:checked ~ .book .cover {
  transition: transform 1.5s, z-index 0.5s 0.5s;
  transform: rotateY(-180deg);
  z-index: 1;
}

.checkboxpagea:checked ~ .book .pagea {
  transform: rotateY(-180deg);
  z-index: 2;
}

.checkboxpageb:checked ~ .book .pageb {
  transform: rotateY(-180deg);
  z-index: 3;
}

.checkboxpagec:checked ~ .book .pagec {
  transform: rotateY(-180deg);
  z-index: 4;
}
