.filebody {
  background: white;
  justify-content: center;
  padding-top: 1px;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  height: auto;
  position: relative;
}

.filetitle {
  position: absolute;
  color: #999;
  font-size: 20pt;
  top: 29%;
  left: 7%;
  width: 600px;
}
/*파일명 title경로*/

.filesub {
  position: absolute;
  top: 28%;
  left: 14%;
  font-size: 26pt;
  color: #555;
}
/*파일명 title*/

.contentItem {
  margin-top: 10px;
  margin-bottom: 100px;
  margin-left: 10%;
  width: 100%;
  height: 100%;
}

.filecard {
  margin-top: 20px;
  width: 950px;
  height: auto;

  /*  box-shadow: 0 0 0 8px rgba(255, 255, 255, 0.2);*/

  border-top: 3px solid rgba(255, 255, 255, 0.5);

  justify-content: center;
  align-items: center;
  margin-left: 10px;
  margin-right: auto;
  margin-bottom: 300px;
  border: #555;
}
/*파일 body*/

.fileconceptdiv {
  font-size: 30px;
  height: auto;
  display: block;
  border-bottom: 1px #999 solid;
  padding-left: 3%;
  padding-bottom: 3px;
  font-weight: bold;
}
/*파일 제목 div*/

.filetext {
  height: auto;
  display: block;
  white-space: pre-wrap;
  position: relative;
  margin: 0.5rem;
  width: 1000px;
  padding-left: 2%;
  padding-top: 2%;
  font-size: 13pt;
}
/*파일 텍스트 부분*/

.modal {
  position: absolute;
  background-color: white;
  padding: 10px;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  z-index: 9999;
  max-width: 300px;
  word-wrap: break-word;
  white-space: normal;
  display: block;
  /* 모달을 왼쪽 중앙에 위치시킴 */
}

.photobox {
  max-width: auto;
  max-height: auto;
  overflow: hidden;
  margin: 0 auto;
}

.photos {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.conceptinputbody {
  background-color: white;
  position: fixed;
  width: 1100px;
  height: 260px;
  bottom: 0;
  left: 3%;
  margin-left: 40px;
  border-radius: 10px;
  border: 2px solid #999;
  z-index: 3333;
}
/*file업로드 양식 div*/

.concepttitlename {
  padding-top: 10px;
  padding-left: 30px;
}
/*concept 파일명*/

.concepttitle {
  width: 380px;
  height: 33px;
  padding-left: 10px;
  position: absolute;
  top: 24%;
  left: 2%;
}
/*컨텐츠 제목 입력란*/

.contentbox {
  position: absolute;
  top: 35%;
  left: 2%;
  margin-top: 15px;
  width: 1050px;
  height: 140px;
  padding-top: 5px;
  padding-left: 10px;
  resize: none;
  border: red;
}
/*컨텐츠 내용 입력 란*/

.imginput {
  position: absolute;
  top: 24%;
  left: 40%;
}
/*사진 파일 업로드 input*/

.fileuploadbtn {
  position: absolute;
  top: 5%;
  right: 4%;
  border-radius: 5px;
  width: 180px;
  margin-top: 5px;
  margin-right: 3px;
}
/*파일업로드 버튼*/

.conceptList {
  position: fixed;
  right: 20px;
  width: 180px;
  top: 38%;
  height: auto;
  background-color: #fefefe;
  box-shadow: 2px 2px 4px 0.1px #ccc;
  border-radius: 20px;
  overflow: hidden;
  border-top: 2px solid #337ab7;
  border-bottom: 2px solid #337ab7;
  margin-right: 15px;
}
/*side의 remote 기능*/

.sideli {
  width: 140px;
  height: auto;
  font-size: 12pt;
  color: #666;
  padding-top: 10%;
  padding-left: 10%;
  padding-bottom: 10%;
  padding-right: 10%;
  text-align: center;
  border: 0.1px #eee solid;
  border-right: none;
  border-left: none;
  margin-left: -10%;
}
/*side의 remote li*/

.conceptList :hover {
  cursor: pointer;
  text-decoration: underline;
  transition: all 0.5s ease;
}

.eicon {
  box-sizing: border-box;
}

.fileeditbtn {
  margin-top: 10px;
  margin-left: 70%;
  margin-bottom: 10px;
  border-radius: 5px;
  width: 100px;
  background-color: #ccc;
  color: black;
}
/*파일수정*/

.filedeletetbtn {
  margin-left: 5px;
  width: 100px;
  border-radius: 5px;
}
/*파일삭제*/

.filesavebtn {
  right: 5%;
  bottom: 10px;
  width: 100px;
  background-color: green;
  border-radius: 5px;
}
/*수정 시 파일저장*/
