@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
:root {
  background-color: white;
}

body,
html {
  height: 100%;
  background-color: #fff;
}

* > * {
  font-family: "Poppins", sans-serif;
}

.resultcontainer {
  display: block;
  position: relative;
  margin: 40px auto;
  height: auto;
  width: 800px;
  padding: 20px;
}

.resultcontainer .title {
  font-size: 3em;
  text-align: center;
  border: 5px solid #337ab7;
  border-left: none;
  border-right: none;
  padding: 0.3em 0.2em;
  border-radius: 4px;
}

.restart {
  display: flex;
  justify-content: center;
  padding-top: 2em;
}
/*restartbtn div위치*/

.restartbtn {
  padding: 0.2em 1.7em;
  border: none;
  border-radius: 5px;
  font-size: 1.2em;
  color: white;
  text-decoration: none;
  background-color: #337ab7;
}
/*restart 버튼*/

.resultcontainer .restartbtn:hover {
  cursor: pointer;
  background-color: #1e4b73;
  color: white;
  transition: all 0.2s ease;
}
/*다시시작 버튼 hover*/

/*-----Result css ---- */
.flexcenter {
  display: flex;
  justify-content: center;
  flex-direction: column;
  border-radius: 5px;
  border: 2px solid #999;
  padding: 3em 4em;
  gap: 1em;
}
/*result body*/

.resultcontainer .flex {
  display: flex;
  justify-content: space-between;
}

.resultcontainer .flex span {
  font-size: 1.4em;
  color: #555;
}
/*result 텍스트*/

.resultcontainer .flex span.achive {
  font-weight: bold;
  color: #ff2a66;
  color: #2aff95;
}
/*합격 불합격 출력*/

table {
  width: 100%;
  margin-top: 20px;
}

.tableheader {
  color: white;
  font-size: 1.1em;
  text-align: center;
  background: #333;
  padding: 18px 0;
}
/*테이블 목록*/

.tablebody {
  font-size: 12pt;
  text-align: center;
  /* color: #cecece; */
  background: #fefefe;
  padding: 18px 0;
  border-bottom: 0.1px #ddd solid;
}
/*테이블 컬럼값*/

.tableheader > tr > td {
  border: 1px solid skyblue;
}
/*점수테이블 모서리*/
