.body {
  margin: auto;
  background-color: rgb(242, 235, 235);
  width: 100%;
  height: 100%;
  padding-bottom: 1px;
}
.bot {
  background-color: rgb(242, 235, 235);
  width: 100%;
  height: 100%;
}

.road {
  margin-top: 500px;
  height: 600px;
  width: 1500px;
  margin: auto;
  display: flex;
  margin-top: 100px;
  position: relative;
  background-color: rgb(242, 235, 235);
}

.abside {
  position: absolute;
  background: url(../../public/images/roadd.png);
  width: 50px;
  height: 55px;
  left: 200px;
  top: 150px;
  background-position: center;
  background-size: cover;
  transform: skewY(-30deg) translate(50px, 15px);
}

.pagea {
  bottom: 0;
  position: absolute;
  width: 250px;
  height: 400px;
  background-color: #fff;
}

.pagea h2 {
  margin-top: 80px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(to right, #ffecd2 0%, #ef8c6b 100%);
  color: #fff;
  width: 200px;
  height: 50px;
  border-left: 50px;
  border-top: 50px;
  border-bottom: 50px;
  display: inline-block;
  position: relative;
  border-radius: 20px 20px 20px 20px;
}

.pagea h3 {
  margin-top: 50px;
  color: #ef8c6b;
}

.pagea p {
  padding: 5px;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  color: black;
  text-align: left;
  border-style: solid;
  display: inline-block;
  border-image: linear-gradient(to right, #ffecd2 0%, #e9410a 10%);
  word-break: keep-all;
  box-sizing: border-box;
  border-image-slice: 1;
  border-image-width: 0 0px 0px 10px;
}

.pagea:before {
  content: "";
  position: absolute;
  left: -3px;
  top: -20px;
  width: 103%;
  height: 50px;

  transform: translate(0px, -30px);
  background: url(../../public/images/roadc.png);
  background-position: center;
  background-size: cover;
}

.pagea:after {
  content: "";
  width: 50px;
  height: 100%;
  background: #e7e0e0;
  position: absolute;
  top: 0;
  right: 0;
  transform: skewY(-30deg) translate(50px, 15px);
  box-shadow: inset -10px 0 20px rgba(0, 0, 0, 0.2);
}

.pageb {
  position: absolute;
  width: 250px;
  height: 400px;
  background-color: #fff;
  border: 2px solid black;
  bottom: 29px;
  left: 300px;
}

.pageb h2 {
  margin-top: 80px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(to right, #ca397f 0%, #972cc2 100%);
  color: #fff;
  width: 200px;
  height: 50px;
  border-left: 50px;
  border-top: 50px;
  border-bottom: 50px;
  display: inline-block;
  position: relative;
  border-radius: 20px 20px 20px 20px;
}

.pageb h3 {
  margin-top: 50px;
  background-image: linear-gradient(to right, #ca397f 0%, #972cc2 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.pageb p {
  padding: 5px;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  color: black;
  text-align: left;
  border-style: solid;
  display: inline-block;
  border-image: linear-gradient(to right, #ffecd2 0%, #e9410a 10%);
  word-break: keep-all;
  box-sizing: border-box;
  border-image-slice: 1;
  border-image-width: 0 0px 0px 10px;
}

.pageb:before {
  content: "";
  position: absolute;
  left: 0px;
  top: 1px;
  width: 103%;
  height: 55px;
  background: url(../../public/images/roadc.png);
  background-position: center;
  background-size: cover;
  transform: translate(-3px, -52px);
}

.pageb:after {
  content: "";
  width: 50px;
  height: 100%;
  background: #fff;
  position: absolute;
  top: 0;
  right: 0;
  transform: skewY(-35deg) translate(50px, 15px);
  box-shadow: inset -10px 0 20px rgba(0, 0, 0, 0.2);
}

.bcside {
  position: absolute;
  background: url(../../public/images/roadd.png);
  width: 50px;
  height: 55px;
  left: 500px;
  top: 125px;
  background-position: center;
  background-size: cover;
  transform: skewY(-35deg) translate(50px, 15px);
}

.pagec {
  position: absolute;
  width: 250px;
  height: 400px;
  background-color: #fff;
  border: 2px solid black;
  bottom: 66px;
  left: 600px;
}

.pagec h2 {
  margin-top: 80px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(to right, #972cc2 0%, #2c34c2 100%);
  color: #fff;
  width: 200px;
  height: 50px;
  border-left: 50px;
  border-top: 50px;
  border-bottom: 50px;
  display: inline-block;
  position: relative;
  border-radius: 20px 20px 20px 20px;
}

.pagec h3 {
  margin-top: 50px;
  background-image: linear-gradient(to right, #972cc2 0%, #2c34c2 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.pagec p {
  padding: 5px;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  color: black;
  text-align: left;
  border-style: solid;
  display: inline-block;
  border-image: linear-gradient(to right, #ffecd2 0%, #e9410a 10%);
  word-break: keep-all;
  box-sizing: border-box;
  border-image-slice: 1;
  border-image-width: 0 0px 0px 10px;
}

.pagec:before {
  content: "";
  position: absolute;
  left: 0px;
  top: 5px;
  width: 103%;
  height: 50px;
  background: url(../../public/images/roadc.png);
  background-position: center;
  background-size: cover;
  transform: translate(-3px, -52px);
}

.pagec:after {
  content: "";
  width: 50px;
  height: 100%;
  background: #fff;
  position: absolute;
  top: 0;
  right: 0;
  transform: skewY(-35deg) translate(50px, 15px);
  box-shadow: inset -10px 0 20px rgba(0, 0, 0, 0.2);
}

.cdside {
  position: absolute;
  background: url(../../public/images/roadd.png);
  width: 50px;
  height: 55px;
  left: 800px;
  top: 90px;
  background-position: center;
  background-size: cover;
  transform: skewY(-35deg) translate(50px, 15px);
}

.paged {
  position: absolute;
  width: 250px;
  height: 400px;
  background-color: #fff;
  border: 2px solid black;
  bottom: 103px;
  left: 900px;
}

.paged h2 {
  margin-top: 80px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(to right, #2c34c2 0%, #2cc26b 100%);
  color: #fff;
  width: 200px;
  height: 50px;
  border-left: 50px;
  border-top: 50px;
  border-bottom: 50px;
  display: inline-block;
  position: relative;
  border-radius: 20px 20px 20px 20px;
}

.paged h3 {
  margin-top: 50px;
  background-image: linear-gradient(to right, #2c34c2 0%, #2cc26b 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.paged p {
  padding: 5px;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  color: black;
  text-align: left;
  border-style: solid;
  display: inline-block;
  border-image: linear-gradient(to right, #ffecd2 0%, #e9410a 10%);
  word-break: keep-all;
  box-sizing: border-box;
  border-image-slice: 1;
  border-image-width: 0 0px 0px 10px;
}

.paged:before {
  content: "";
  position: absolute;
  left: 0px;
  top: 7px;
  width: 103%;
  height: 50px;
  background: url(../../public/images/roadc.png);
  background-position: center;
  background-size: cover;
  transform: translate(-3px, -52px);
}

.paged:after {
  content: "";
  width: 50px;
  height: 100%;
  background: #fff;
  position: absolute;
  top: 0;
  right: 0;
  transform: skewY(-35deg) translate(50px, 15px);
  box-shadow: inset -10px 0 20px rgba(0, 0, 0, 0.2);
}

.deside {
  position: absolute;
  background: url(../../public/images/roadd.png);
  width: 50px;
  height: 55px;
  left: 1100px;
  top: 55px;
  background-position: center;
  background-size: cover;
  transform: skewY(-35deg) translate(50px, 15px);
}

.pagee {
  position: absolute;
  width: 250px;
  height: 400px;
  background-color: #fff;
  border: 2px solid black;
  bottom: 141px;
  left: 1200px;
}

.pagee h2 {
  margin-top: 80px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(to right, #2cc26b 0%, #40ab3c 100%);
  color: #fff;
  width: 200px;
  height: 50px;
  border-left: 50px;
  border-top: 50px;
  border-bottom: 50px;
  display: inline-block;
  position: relative;
  border-radius: 20px 20px 20px 20px;
}

.pagee h3 {
  margin-top: 50px;
  background-image: linear-gradient(to right, #2cc26b 0%, #40ab3c 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.pagee p {
  padding: 5px;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  color: black;
  text-align: left;
  border-style: solid;
  display: inline-block;
  border-image: linear-gradient(to right, #ffecd2 0%, #e9410a 10%);
  word-break: keep-all;
  box-sizing: border-box;
  border-image-slice: 1;
  border-image-width: 0 0px 0px 10px;
}

.pagee:before {
  content: "";
  position: absolute;
  left: 0px;
  top: 10px;
  width: 103%;
  height: 50px;
  background: url(../../public/images/roadc.png);
  background-position: center;
  background-size: cover;
  transform: translate(-3px, -52px);
}

.partsa {
  position: absolute;
  width: 200px;
  height: 100px;
  background: #525252;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px 50px 0px 0px / 0 0 50px 50px;
  bottom: 0;
}

.partsa:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 10px;
  background: linear-gradient(
    90deg,
    #fff 0%,
    #fff 70%,
    #525252 70%,
    #525252 100%
  );
  background-size: 120px;
}

.partsb {
  position: absolute;
  width: 150px;
  height: 100px;
  background: #525252;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0px 0px 100px 0px;
  bottom: 0px;
  left: 200px;
}

.partsb:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 30px;
  width: 50%;
  height: 10px;
  background: #fff;
  transition: 0.5s;
  transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
  background-size: 120px;
}

.partsc {
  position: absolute;
  width: 100px;
  height: 350px;
  background: #525252;
  display: flex;
  justify-content: center;
  align-items: center;

  bottom: 100px;
  left: 250px;
}

.partsc:before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  width: 10px;
  height: 100%;
  background: linear-gradient(
    180deg,
    #525252 0% 10%,
    #fff 10% 30%,
    #525252 30% 60%,
    #fff 60% 90%,
    #525252 90%
  );
  background-size: 120px;
}

.partsd {
  position: absolute;
  width: 350px;
  height: 100px;
  background: #525252;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px 50px 0px 0px;
  top: 50px;
  left: 250px;
}

.partsd:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 10px;
  background: linear-gradient(
    90deg,
    #525252 0% 15%,
    #fff 15%,
    #fff 70%,
    #525252 70%,
    #525252 100%
  );
  background-size: 120px;
}

.partse {
  position: absolute;
  width: 100px;
  height: 350px;
  background: #525252;
  display: flex;
  justify-content: center;
  align-items: center;

  bottom: 100px;
  left: 500px;
}

.partse:before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  width: 10px;
  height: 100%;
  background: linear-gradient(
    180deg,
    #525252 0% 10%,
    #fff 10% 30%,
    #525252 30% 60%,
    #fff 60% 90%,
    #525252 90%
  );
  background-size: 120px;
}
