.body {
  height: 1900px;
  background-color: rgb(27, 25, 25);
  width: 100%;
  justify-content: center;
}

.circleicon {
  font-size: 50px;
}

.one {
  justify-content: center;
  text-align: center;
  height: auto;
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
  width: 700px;
}

.oneroadmap {
  margin-left: 500px;

  width: 800px;
}

.circle {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  border: 7px double;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: 40px;
  position: absolute;

  margin-left: 10px;
  margin-top: 35px;
  margin-left: auto;
  text-align: center;
  border-color: red;
  color: red;
}

/*
@media screen and (min-width: 900px) {
  article {
    padding: 1rem 3rem;
  }
}
*/

.circlea {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  border: 7px double;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: 40px;
  position: absolute;

  margin-top: 410px;
  margin-left: 320px;
  text-align: center;
  border-color: yellow;
  color: yellow;
}

.circleb {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  border: 7px double;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: 40px;
  position: absolute;

  margin-top: 810px;
  margin-left: auto;
  text-align: center;
  border-color: rgb(24, 196, 144);
  color: rgb(24, 196, 144);
}

.title {
  max-width: 360px;
  margin-top: -50px;
  cursor: pointer;
  max-height: 300px;
  position: relative;
  text-transform: uppercase;

  margin-bottom: 1rem;
  padding-left: 1.5rem;
  right: 220px;
  border: 1px solid;
  background: rgb(67, 9, 9);
  color: rgb(224, 46, 46);
  padding: 0 20px;
  border-bottom-right-radius: 30px;
  border-bottom-left-radius: 30px;
  border-top-right-radius: 30px;
  border-top-left-radius: 30px;
  flex-flow: row-reverse;

  transition: max-height 0.5s, padding 0.5s;
}

.icon {
  display: flex;
  font-size: 2em;
  border-radius: 50%;
  background-color: rgb(203, 62, 62);
  background-clip: padding-box;
  padding: -2px 5px;
  transition: transform 0.4s;
  color: #fff;
  border: 14px solid var(--bs-dark);
  width: 70px;
  height: 70px;

  flex-flow: row-reverse;
  cursor: pointer;

  position: relative;
  top: 5px;
  right: 220px;
  z-index: 2;
}

.icon:hover {
  transform: scale(1.2);
}

.icon:active {
  transform: none;
}

.article1 {
  text-align: center;
}

.article1:hover .icon {
  transform: scale(1.2);
}

.article1:nth-child(1) {
  margin-left: 6px;
}

.article1:nth-child(2) {
  margin-left: 54px;
}

.article1:nth-child(3) {
  margin-left: 71px;
}

.article1:nth-child(4) {
  margin-left: 61px;
}

.article1:nth-child(5) {
  margin-left: 22px;
}

.article1:nth-child(6) {
  margin-left: -5px;
}

.article1:nth-child(6) .icon {
  background-color: rgb(225, 225, 28);
}

.article1:nth-child(6) .title {
  transform: translateX(-90%);
  background-color: rgba(255, 255, 0, 0.217);
  border-color: rgba(255, 255, 0, 0.217);
  color: yellow;
}

.article1:nth-child(6) .p {
  transform: translateX(-90%);
  border-color: yellow;
  color: yellow;
}

.article1:nth-child(7) {
  margin-left: -54px;
}

.article1:nth-child(7) .icon {
  background-color: rgb(225, 225, 28);
}

.article1:nth-child(7) .title {
  transform: translateX(-90%);
  background-color: rgba(255, 255, 0, 0.217);
  border-color: rgba(255, 255, 0, 0.217);
  color: yellow;
}

.article1:nth-child(7) .p {
  transform: translateX(-90%);
  border-color: yellow;
  color: yellow;
}
.article1:nth-child(8) {
  margin-left: -70px;
}

.article1:nth-child(8) .icon {
  background-color: rgb(225, 225, 28);
}

.article1:nth-child(8) .title {
  transform: translateX(-90%);
  background-color: rgba(255, 255, 0, 0.217);
  border-color: rgba(255, 255, 0, 0.217);
  color: yellow;
}

.article1:nth-child(8) .p {
  transform: translateX(-90%);
  border-color: yellow;
  color: yellow;
}

.article1:nth-child(9) {
  margin-left: -60px;
}

.article1:nth-child(9) .icon {
  background-color: rgb(225, 225, 28);
}

.article1:nth-child(9) .title {
  transform: translateX(-90%);
  background-color: rgba(255, 255, 0, 0.217);
  border-color: rgba(255, 255, 0, 0.217);
  color: yellow;
}

.article1:nth-child(9) .p {
  transform: translateX(-90%);
  border-color: yellow;
  color: yellow;
}
.article1:nth-child(10) {
  margin-left: -21px;
}

.article1:nth-child(10) .icon {
  background-color: rgb(225, 225, 28);
}

.article1:nth-child(10) .title {
  transform: translateX(-90%);
  background-color: rgba(255, 255, 0, 0.217);
  border-color: rgba(255, 255, 0, 0.217);
  color: yellow;
}

.article1:nth-child(10) .p {
  transform: translateX(-90%);
  border-color: yellow;
  color: yellow;
}

.article1:nth-child(11) {
  margin-left: 11px;
}

.p {
  background: var(--bgColor);

  border-bottom-right-radius: 30px;
  border-bottom-left-radius: 30px;
  max-height: 410px;
  overflow: hidden;
  transition: max-height 0.5s ease-in-out, padding 0.5s;
  padding: 3px 10px;
  text-transform: uppercase;
  border: 1px solid;
  max-width: 410px;

  opacity: 0;
}

.visible {
  transition: max-height 0.5s ease-in-out, padding 0.5s;
  border-color: rgb(226, 51, 51);
  color: rgb(226, 51, 51);
  opacity: 1;
  max-height: 1000px; /* 내용이 보여질 때 max-height 값을 크게 설정하여 내용을 보여줍니다. */
  /* 이 값은 가능한 큰 값으로 설정해야하며, 실제 콘텐츠의 최대 높이보다는 커야합니다. */
}

.btu {
  width: 100px;
  padding: 3px 10px;
  text-transform: uppercase;
}
