.tbedbody {
  background-color: white;
  height: auto;
}

.tbedtitle {
  padding: 20px 0 0 6em;
}

.teditbtn {
  border-radius: 15px;
  background-color: #26303d;
  color: white;
  box-sizing: content-box;
  width: 100px;
  height: 16px;
  right: 12%;
  bottom: 15%;
  position: absolute;
  font-weight: bold;
  font-size: 11pt;
  padding-bottom: 1%;
}
/*수정 버튼*/

.teditbtn:hover {
  background-color: #4e617a;
  opacity: 1;
  visibility: visible;
  transition: all 0.3s ease;
}

.tdeletebtn {
  border-radius: 15px;
  background-color: white;
  color: #333;
  position: absolute;
  right: 4.5%;
  bottom: 15%;
  box-sizing: content-box;
  width: 60px;
  height: 16px;
  border: #444 1.6px solid;
  font-weight: bold;
  font-size: 10pt;
}
/*삭제 버튼*/

.tdeletebtn:hover {
  opacity: 1;
  visibility: visible;
  transition: all 0.2s ease;
  background-color: #333;
  color: white;
}

.checkicon {
  position: absolute;
  top: 25%;
  left: 5%;
}

.tbedlink {
  padding-right: 700px;
  width: 900px;
  height: auto;
  font-size: 16pt;
  text-decoration: none;
  text-align: center;
  color: black;
  margin-top: 5px;
  padding-left: 80px;
}
/*테스트베드 링크*/

.tbedlink:hover {
  text-decoration: underline;
  opacity: 1;
  visibility: visible;
  transition: all 0.3s ease;
}

.tbedli {
  width: 1150px;
  border: none;
  height: auto;
  border-bottom: 1px solid #eeeeee;
  margin-top: 5px;
}
/*tbedlink의 li*/

.tbedul {
  width: 1200px;
  top: 50%;
  margin-left: 12%;
  margin-top: 20px;
  height: 3px;
  background: linear-gradient(120deg, skyblue, purple);
}

.tbedadd {
  margin-left: 25%;
  width: 900px;
  margin-top: 30%;
  position: sticky;
  bottom: 0.1%;
  background-color: white;
  color: black;
  border-radius: 20px;
  padding-bottom: 15px;
  padding-left: 30px;
  border: #4e617a solid 3px;
}
/*새로운 링크 추가 div*/

.tbedh3 {
  padding-top: 5px;
  padding: 20px 0 0 20px;
  font-weight: bold;
  font-family: sans-serif;
}
/*링크추가 title*/

.linkaddtilte {
  width: 400px;
  margin-left: 20px;
  padding-left: 10px;
  border-radius: 8px;
  border: 1px #bbb solid;
  margin-bottom: 2px;
}
/*링크add 제목*/

.linkaddtext {
  margin-top: 5px;
  margin-left: 20px;
  padding-left: 10px;
  width: 700px;
  margin-bottom: 10px;
  border-radius: 8px;
  border: 1px #bbb solid;
}
/*링크add 텍스트*/

.linkaddbtn {
  background-color: white;
  width: 120px;
  height: 35px;
  color: black;
  border-radius: 15px;
  position: absolute;
  top: 15%;
  right: 3%;
  font-weight: bold;
  border: black 1.6px solid;
}
/*링크추가 버튼*/

.linkaddbtn:hover {
  opacity: 1;
  visibility: visible;
  transition: all 0.2s ease;
  background-color: black;
  color: white;
}

.linkicon {
  font-size: 14pt;
}
